.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-children {
  flex: 1;
}

.single-flex-container {
  flex: 1;
}

.dashboard-card {
  height: 192px;
}

.insight-header {
  display: flex;
}

.element-style,
.header-container {
  margin-left: 10px;
}
.header-container {
  flex: 1;
  margin-bottom: 0;
  padding: 0;
}

.status-container {
  flex-basis: auto;
  justify-content: end;
  align-items: end;
  margin-top: 19px;
  margin-right: 6px;
  color: black;
}

.dashboard-card-container {
  display: flex;
}

.static-trend {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-trend-image {
  flex-basis: auto;
}

.dash-trend-text {
  flex-basis: auto;
  color: black;
  font-size: 14px;
}
