.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-children {
  flex: 1;
  /* text-align: center; */
}

.single-flex-container {
  flex: 1;
  /* margin-top: 16px;
  margin-bottom: 8px; */
}
