.text-generic {
  color: rgb(0, 0, 0);
  text-align: center;
}

.warining-text {
  font-size: 18px;
  font-weight: bold;
}

html {
  height: 100%;
}

.google-login-button {
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-Image-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-Image {
  max-height: 200px;
  max-width: 85%;
}

.skipText {
  margin-left: 4px;
}

.skipLink {
  text-align: center;
  width: 100%;
  padding-bottom: 0px;
  margin-top: 0px;
}

@media only screen and (min-width: 650px) {
  .google-login-button {
    margin: 0;
    margin-top: -25px;
  }

  .text-generic {
    padding: 0;
    margin-top: 0;
  }

  .index-Image-head {
    margin-top: -40px;
  }

  .login-button {
    margin: 0;
    margin-top: 15px;
  }

  .skipLink {
    margin-top: -25px;
    width: 100%;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 750px) {
  .row {
    display: inherit !important;
  }

  .index-Image-head {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
  }

  .text-generic {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: -30px;
  }

  .login-button {
    padding: 10px;
  }

  .skipLink {
    width: 50%;
    padding-bottom: 25px;
    margin-top: -50px;
  }
}
