.go-to-insight-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sizing-go-to-insight-card {
  width: 149px;
}

.flex-container-datatypes {
  display: flex;
}

.flex-children-datatypes-checkboxes {
  display: flex;
  flex-basis: auto;
}

.atom_checkbox input[type="checkbox"] + label,
input[type="checkbox"] + label {
  margin: 0;
  background-position: 0;
  padding-left: 0.9rem;
  padding: 0.9rem;
}

.mol_validation {
  margin: 16px 0;
  height: 22px;
}

.mol_validation:first-child {
  margin: 6px 0 0;
}

.mol_validation:last-child {
  margin: 0 0 8px;
}

.datatype-checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.datatype-checkbox atom_fieldset mol_validation {
  padding: 22px !important;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.color-category-parent {
  display: flex;
  flex: 1;
  margin: 8px 0;
}

.color-category-child-dot {
  flex-basis: auto;
  margin-right: 16px;
}

.color-category-child-category {
  flex: 1;
}

.flex-children-color-category {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: column;
  align-items: stretch;
}

.flex-container-datatypes-error-message {
  display: flex;
  flex: 1;
}

.datatypes-error-message {
  margin-top: 15px;
}
