.divStyle {
  flex: 1;
}

.flex-children-button {
  flex: 1;
}

.flex-container-button {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.flex-container-button-icon {
  flex: 1;
  height: 1rem;
}

.button-style {
  display: flex;
  justify-content: flex-end;
}

.atom_displaybutton {
  padding: 0 0.8rem;
}

.svgicon chevron {
  font-size: 1rem;
}

.average-left {
  text-align: left;
  flex: 1;
  color: black;
}
.average-right {
  text-align: right;
  padding-right: 38px;
  color: black;
  flex: 2;
}

.average-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.time-within {
  color: #007544;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1;
  width: 50%;
}

.right {
  flex: 1;
  width: 50%;
}

.left-trend {
  display: flex;
  flex-direction: row;
  flex: 3;
  margin-bottom: 16px;
  color: black;
}

.right-trend {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 16px;
  color: black;
}

.trend-div {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: flex-end;
}

.trend-triangle {
  height: 20px;
  margin-right: 5px;
}
