.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto !important;
}

.menu-button-row {
  justify-content: center;
  height: 60px;
}

.li-wrapper {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  padding: 5px;
}

.tab_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 0 0.125rem;
}

.tab {
  display: flex;
  width: auto;
  background: transparent;
}

.tab_selected {
  position: relative;
  color: black !important;
  font-weight: 500;
}

.a:link,
a:visited,
.tab-anchor {
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #006d84;
  flex: none;
  border: 2px solid transparent;
}

a:hover {
  text-decoration: none !important;
  color: #a61e7b !important;
}

@media only screen and (max-width: 650px) {
  .li-wrapper {
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
  }

  .tab_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
