.max-width-wrapper {
  margin: 0 auto !important;
  position: relative;
}

.li-wrapper {
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
}

.tab_list {
  display: block;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  list-style: none;
}

.tab_selected {
  position: relative;
  color: black !important;
  font-weight: 500;
}

.a:link,
a:visited,
.tab-anchor {
  border-bottom: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #006d84;
  flex: none;
  padding: 5px;
  border: 2px solid transparent;
}

a:hover {
  text-decoration: none !important;
  color: #a61e7b !important;
}

/* Next & previous buttons */
.prev,
.next {
  display: none;
}

@media only screen and (max-width: 750px) {
  .tab_list {
    display: block;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    list-style: none;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 600px;
  }

  .a:link,
  a:visited,
  .tab-anchor {
    border-bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #006d84;
    flex: none;
    border: 2px solid transparent;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 8px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: flex;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 15px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 5px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (max-width: 450px) {
  .tab_list {
    display: block;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    list-style: none;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 310px;
    margin-left: 10px;
  }

  .tab_selected {
    position: relative;
    color: black !important;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 6px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
  }

  .next {
    right: 10px;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
  }
}
