@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Spark FHIR server</h1>
    <p class="lead">Endpoint: @Settings.Endpoint</p>
  </div>
</div>
