.flex-container-trend-goals {
  display: flex;
}

.flex-side-container-trend-goals {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-children-trend-goals {
  flex: 1;
  display: flex;
  align-items: center;
}

.trend-pic {
  max-height: 40px;
  margin-right: 5px;
}

.outer-div-trend-goals {
  width: 100%;
}

.upper-trend-goals-div {
  border-bottom: 1px solid black;
}

.lower-trend-goals-div {
  margin-top: 0px;
}

.distance-to-goal-text {
  font-size: 10px;
}
