.go-to-insight-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sizing-go-to-insight-card {
  width: 149px;
}

.flex-container-datatypes {
  display: flex;
}

.flex-children-datatypes-checkboxes {
  display: flex;
  flex-basis: auto;
  /* flex-direction: column; */
  justify-content: column;
  align-items: stretch;
  margin-right: 0;
  padding: 0;
}

.atom_checkbox input[type="checkbox"] + label,
input[type="checkbox"] + label {
  margin: 0;
  background-position: 0;
  padding-left: 0.9rem;
}

.mol_validation {
  margin: 0;
}

.datatype-checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.datatype-checkbox atom_fieldset mol_validation {
  padding: 22px !important;
}

.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.color-category-parent {
  display: flex;
  flex: 1;
}

.color-category-child-dot {
  flex-basis: auto;
  margin-right: 16px;
}

.color-category-child-category {
  flex: 1;
}

.flex-children-color-category {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: column;
  align-items: stretch;
}

.flex-container-datatypes-error-message {
  display: flex;
  flex: 1;
}

.datatypes-error-message {
  margin-top: 15px;
}

@media only screen and (min-width: 600px) {
  .flex-children-datatypes-checkboxes {
    display: flex;
    flex-basis: auto;
    /* flex-direction: column; */
    justify-content: column;
    align-items: stretch;
    margin-right: 30px;
    padding: 0;
  }

  .atom_checkbox input[type="checkbox"] + label,
  input[type="checkbox"] + label {
    margin: 0px;
    background-position: center;
    padding-left: 1.5rem;
    /* background-size: 1.25rem; */
  }

  .mol_validation {
    margin: 0;
  }
}
