.flex-container {
  display: flex;
}

.flex-children {
  flex: 1;
  text-align: center;
  max-width: 50%;
}

.divider {
  width: 2px;
  margin: 10px 0;
  background: black;
}

.third-title {
  margin-bottom: 5px;
}

.flex-card {
  flex: 1;
  margin-left: 4px;
  margin-top: 8px;
  margin-right: 4px;
}

.card {
  border-radius: 0rem;
}

.card-body {
  padding: 12px;
}

.card-title {
  text-transform: none;
}
