.flex-container {
  display: flex;
}

.flex-children {
  flex: 1;
  text-align: center;
  max-width: 50%;
}

.divider {
  width: 2px;
  margin: 10px 0;
  background: black;
}

.third-title {
  margin-bottom: 5px;
}

.flex-card {
  flex: 1;
  margin: 0.2rem;
}

.card {
  border-radius: 0.25rem;
}

.card-body {
  padding: 16px;
}
