.menuBar {
  top: 0;
  right: 0;
  left: 0;
  height: 25%;
  z-index: 1;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  box-shadow: 0 0 5px 1px #595959;
  background-color: #ffffff;
}

.menuBar-open {
    transform: translateY(0);
  }