body {
  background-color: #e9e9e9 !important;
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  top: 55px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

html {
  height: 100%;
}

@media only screen and (max-width: 650px) {
  body {
    top: 55px;
  }
}
