body {
  background-color: #e9e9e9 !important;
  font-family: "Roboto", sans-serif !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 14px !important;;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  padding-top: 72px;
  max-width: 868px;
  margin: auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 36px !important;
  line-height: 42px;
  letter-spacing: 0.5625px;
}

h5 {
  font-family: "Roboto", sans-serif !important;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px !important;
  line-height: 21px;
  letter-spacing: 0.5625px;
  text-transform: none !important;
}

html {
  height: 100%;
}

@media only screen and (max-width: 650px) {
  body {
    padding-top: 56px;
  }
}

.caption {
  font-size: 12px;
}

.subheader {
  font-size: 18px;
  color: #212529;
}