body {
  background-color: #e9e9e9 !important;
  font-family: "Roboto";
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  top: 23%;
}

html {
  height: 100%;
}

@media only screen and (max-width: 650px) {
  body{
    top: 15%;
  }
}
