.head-error-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.error-image {
  max-height: 200px;
  max-width: 85%;
}

.text {
  text-align: center;
  padding: 25px;
}
