.menuBar {
  top: 48px;
  right: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  background-color: #e9eaec;
}

.menuBar-open {
  position: fixed;
  transform: translateY(0);
  box-shadow: 0 0 5px 1px #595959;
}

.click-menuBar-open {
  transform: translateY(0);
}

.menuBar2 {
  height: 0;
  position: relative;
  transition: height 0.5s;
  background-color: #e9eaec;
  width: 100%;
}

.menuBar-open2 {
  height: auto;
}

a.menu-link2 {
  color: black;
  text-decoration: none;
  border: 0;
}

.click-menuBar-open2 {
  transform: translateY(0);
}

.liBar2 {
  padding: 6px 12px;
  border-top: 1px solid #979797;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  font-family: Roboto;
  padding-bottom: 6px;
}

.liBar2:first-child {
  border-top: 0;
}

.liBar2:last-child {
  padding-bottom: 6px;
}

.minHelse {
  padding-left: 8px;
}

.button2 {
  border-radius: 4px;
  border: none;
  color: black;
  background: transparent;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 0px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  display: inline-block;
  flex: 1;
  background-color: transparent;
}

.menuButton2 {
  float: right;
}

.button {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background: transparent;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  display: inline-block;
  flex: 1;
}

.bar {
  background-color: #569b7e;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 16px;
}

.menuPos {
  width: 200px;
  white-space: nowrap;
  margin: 0px;
  text-align: right;
  flex: 1;
  line-height: 21px;
}

.pageLink {
  white-space: nowrap;
  margin: 0px auto;
}

.linkText {
  color: #a61e7b;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.ulBar {
  padding-left: 8px;
  padding-right: 8px;
  list-style-type: none;
  margin: 0;
}

.liBar {
  padding-left: 8px;
  border-top: 1px solid #979797;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 12px 16px 12px 44px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.liBar:first-child {
  border-top: 0;
}

.libar-items {
  padding-left: 44px;
}

a.menu-link {
  text-align: center;
  color: #a61e7b;
  text-decoration: none;
  border: 0;
  line-height: 21px;
}

.logoutButton {
  display: block;
  border-radius: 4px;
  border: 0;
  color: #a61e7b;
  background: transparent;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
  font-weight: 500;
}

.aStyle,
.aStyle:link,
.aStyle:visited {
  text-decoration: none;
  border-bottom: none !important;
  font-size: 18px;
  font-style: normal;
  font-weight: medium;
  line-height: 21px;
  color: white !important;
  text-align: start;
}

.textStyle {
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 21px;
  color: white;
  text-align: start;
}

@media only screen and (max-width: 750px) {
  .menuPos {
    width: 125px;
    white-space: nowrap;
    margin: 0px;
    text-align: right;
    flex: 1;
  }
  .menuBar {
    top: 48px;
    right: 0;
    left: 0;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    background-color: #e9eaec;
  }
  .menuBar-open {
    transform: translateY(0);
    box-shadow: 0 0 5px 1px #595959;
  }

  .click-menuBar-open {
    transform: translateY(0);
  }

  .menuBar2 {
    height: 0;
    position: relative;
    transition: height 0.5s;
    background-color: #e9eaec;
  }

  .menuBar-open2 {
    height: auto;
  }

  a.menu-link2 {
    text-align: center;
    color: black;
    text-decoration: none;
    border: 0;
  }

  .click-menuBar-open2 {
    transform: translateY(0);
  }

  .liBar2 {
    padding: 6px 12px;
    border-top: 1px solid #979797;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-family: Roboto;
    padding-bottom: 6px;
  }

  .liBar2:first-child {
    border-top: 0;
  }

  .liBar2:last-child {
    padding-bottom: 6px;
  }

  .liBar {
    padding-left: 8px;
    border-top: 1px solid #979797;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 48px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 16px 12px 44px;
  }

  .liBar:first-child {
    border-top: 0;
    padding: 12px 0;
  }

  .minHelse {
    padding-left: 8px;
  }

  .button {
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background: transparent;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    display: inline-block;
    flex: 1;
  }

  .button2 {
    border-radius: 4px;
    border: none;
    color: black;
    background: transparent;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    width: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    display: inline-block;
    flex: 1;
    background-color: transparent;
  }

  .aStyle {
    text-decoration: none;
    border-bottom: none !important;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    color: white !important;
    text-align: start;
  }
  .bar {
    background-color: #569b7e;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  .textStyle {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    color: white;
    text-align: start;
  }
}
