.compare-data-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sizing {
  width: 149px;
}

.view-div {
  flex: 1;
}

.view-child {
  flex: 1;
  width: 200px;
}

.view-parent {
  display: flex;
  align-items: space-around;
  align-items: 'center';
}
