.divStyle {
  flex: 1;
}

.flex-children-button {
  flex: 1;
}

.flex-container-button {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.flex-container-button-icon {
  flex: 1;
  /* font-size: 0.02em; */
  height: 1rem;
}

.button-style {
  display: flex;
  justify-content: flex-end;
}

.atom_displaybutton {
  padding: 0 0.8rem;
}

.svgicon chevron {
  font-size: 1rem;
}