.divStyle {
  flex: 1;
}

.flex-children-button {
  flex: 1;
}

.flex-container-button {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.flex-container-button-icon {
  flex: 1;
  /* font-size: 0.02em; */
  height: 1rem;
}

.button-style {
  display: flex;
  justify-content: flex-end;
}

.atom_displaybutton {
  padding: 0 0.8rem;
}

.svgicon chevron {
  font-size: 1rem;
}

.glucose-main-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.glucose-main-children {
  flex: 1;
}

.average-glucose-child {
  flex: 1;
}

.average-glucose-child,
#left-glucose-text {
  text-align: left;
}
.average-glucose-child,
#right-glucose-text {
  text-align: right;
}

.average-glucose-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.average-glucose-parent-right {
  display: flex;
}

.left-glucose-div {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.glucose-main {
  min-height: 120px;
}

.glucose-time-within {
  color: #007544;
  padding: 10px;
}

.lower-left-glucose-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.upper-left-glucose-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.glucose-trend-children {
  flex: 1;
  text-align: left;
}
