.shape {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #006d84;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevronStyle {
  color: #006d84;
  margin-left: 3px;
  width: 20px;
  height: 20px;
}

.flex-children-button {
  flex: 1;
}

.flex-container-button {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  line-height: 19px;
}

.flex-container-button-icon {
  flex: 1;
  height: 1rem;
  padding-top: 10px;
}

.button-style {
  display: flex;
  justify-content: flex-end;
}

.atom_displaybutton {
  padding: 0 0.8rem;
}
